# Abaikan folder build, engine Flutter, dan dependency
android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-vendored
**/Pods/** linguist-vendored
**/Flutter/** linguist-vendored
.cmake linguist-vendored
CMakeLists.txt linguist-vendored

# Pastikan semua file Dart dihitung sebagai Dart
*.dart linguist-language=Dart

# Abaikan file konfigurasi atau teks lainnya yang bukan kode utama
*.lock linguist-vendored
pubspec.lock linguist-vendored
*.yaml linguist-vendored
*.md linguist-vendored
